* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1172px;
	
}


.header {
	background: #111111;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 53px 0;
}

.header__nav__ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.header__nav__item a {
	color: #fff;
	margin: 18px;
	text-decoration: none;
}


.header__nav__item:last-child a {
	margin-right: 0;
}

.header__nav__item a:hover {
	border-bottom: 3px solid #fcac45;

}


.section-center {
	text-align: center;
	padding: 147px 0 410px 0;
	
}

.title-one {
	text-transform: uppercase;
	font-size: 44px;
	font-family: Open Sans;

}

.title-one--warning {
	color: #fcac45;
	font-weight: bold;

}


.s-head {
	font-family: Open Sans;
	color: #999999;
	font-size: 20px;
	background-color: #111111;
}

.title-one {
	color: #999999;
}

.apple_sect {
	display: flex;
	justify-content: space-between;
	padding: 100px 0 100px 0;
}

.sect_right{
	
	margin-left: 175px;
}

.title_right {
	display:inline-block;
	text-transform: uppercase;
	font-family: Open Sans;
	font-size: 34px;
	border-bottom: 4px #fcac45 solid;
	padding-bottom: 12px;
}

.title_right--sos {
	font-weight: bold;
}

.sect_right p {
	margin: 30px 0 50px 0;
	text-align: left;
	font-size: 18px;
	color: #999999;
}

.mis_list {
	font-size: 18px;
	color: #999999;

}

.mis_list li {
	list-style-type: none;
	background: url(../img/list_markt.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}

.intro {
	font-family: Open Sans;
	color: #fff;
	background-color: #111111;
	text-align: center;
	padding: 100px 0 165px 0;
}

.team_cen {
	display: flex;
	justify-content: center;
	font-size: 44px;
	text-transform: uppercase;
	

}

/*.title_team {
	border-bottom: 4px #fcac45 solid;
}*/

.team_cen {
  position: relative;
  /*z-index : 1;*/
  margin-bottom: 85px;
}

.team_cen:before {
  content : "";
  position: absolute;
  /*left    : 0;*/
  bottom  : 0;
  /*height  : 1px;*/
  width   : 9%;  /* or 100px */
  border-bottom: 3px #fcac45 solid;
}

.title_team {
	margin-bottom: 30px;
}

.team_cards {
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}


.team_cards__per {
	width: 33%;
	padding: 0 5px;
}


.photo {
	background-color: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	text-align: center;
	margin: 20px auto;
}

.name {
	font: 20px bold;
	font-family: Open Sans;
	margin-bottom: 7px;
}
.position {
	font-family: Open Sans;
	font-size: 16px;
	margin-bottom: 30px;
	
}


.position p {
	margin-bottom: 30px;
}


.about_position {
	font-family: Open Sans;
	font-size: 14px;
}

.info {
	padding: 100px 0 100px 0;
}


.info_text {
	text-align: center;
	color: #a5a5a5;
}

.serv_kinds {
	display: flex;
	justify-content: space-between;
	margin: 100px 10px 100px;
}

.serv_kinds__per {
	width: 33%;
	padding: 0 5px;
	text-align: center;
}

.photo_serv {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	text-align: center;
	margin: 20px auto;
	border: 5px #fcac45 solid;
}

/*OUR SERVICES photos*/

.ph-one {
	background: url(../img/serv_1.png) 30px no-repeat;
	
}

.ph-two {
	background: url(../img/serv_2.png) 40px no-repeat;
}


.ph-three {
	background: url(../img/serv_3.png) 30px no-repeat;
}


.ph-four {
	background: url(../img/serv_4.png) 33px no-repeat;
}


.name_serv {
	font: 25px bold;
	font-family: Open Sans;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.about_serv {
	font-family: Open Sans;
	font-size: 14px;
}

.about_serv p {
	margin-top: 20px;
}





.clients {
	font-family: Open Sans;
	color: #fff;
	background-color: #111111;
	text-align: center;
	padding: 100px 0 165px 0;
}

.clients_our {
	display: flex;
	justify-content: center;
	font-size: 44px;
	text-transform: uppercase;
	

}

/*.title_team {
	border-bottom: 4px #fcac45 solid;
}*/

.clients_our {
  position: relative;
  /*z-index : 1;*/
  margin-bottom: 115px;
}

.clients_our:before {
  content : "";
  position: absolute;
  /*left    : 0;*/
  bottom  : 0;
  /*height  : 1px;*/
  width   : 9%;  /* or 100px */
  border-bottom: 3px #fcac45 solid;
}

.clients_title {
	margin-bottom: 30px;
	font-weight: 100;
}

.clients_title--warn {
	font-weight: bold;
}

.labes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 35px;
	margin: 0 96px;

}

.Works {
	padding: 100px 0 100px 0;
}


.work_text {
	text-align: center;
	color: #6c6c6c;
}

.our_works___serv {
	font-weight: 100;
}

.our_works___serv--normal {
	font-weight: bold;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	margin-top: 165px;
}

.portfolio__photo {
	margin: 10px;
}
.portfolio__photo:hover {
	opacity: 0.6;
	-webkit-transform: rotateZ(20deg);
	-ms-transform: rotateZ(20deg);
	transform: rotateZ(20deg);
}